body{
    background-color: #f0f8ff;
}
.work_space{
    margin-left: 6rem;
}
h1{
    margin-left: 15px;
}
.box:hover{
    background-color: #297b7793;
}
.box-1{
    height: 320px;
    width: 1200px;
    position: absolute;
}
.box-2{
    height: 320px;
    width: 1200px;
    position: absolute;
    top: 401px;
    
}
.box-3{
    height: 320px;
    width: 1200px;
    position: absolute;
    top: 721px;
}
.box-4{
    height: 320px;
    width: 1200px;
    position: absolute;
    top: 1041px;
}

.image{
    position: absolute;
    left: 680px;
    top:0px;
    transition-property: transform;
    transition-duration: 4s;
    transition-timing-function: ease-out;
    transition-delay: 0.1s;
}
.img{
    height: 320px;
    width: 520px;
}
.transition_1:hover{
    transform:rotate(360deg);
}
.content{
    height: 95px;
    width: 350px;
    font-size: 20px;
    position: absolute;
    top: 150px;
    left: 10px;
}
.heading{
    width: 350px;
    font-size: 48px;
    height: 150px;
    margin-left: 15px;
    margin-top: 20px;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    transition-delay: 0.1s;
}
.transition_2:hover{
    transform: scale(1.05);
}
.head1{
    margin:0px;
}
.box-link{
    color: blue;
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 21px;
    font-weight: 800;
}
.link:hover{
    color: rgb(79, 72, 72);
}
.fa-solid{
    padding-top: 23px;
    margin-left: 20px;
}
button{
    height: 50px;
    width: 200px;
    font-size: 20px;
    background-color: #212529;
    color:#f0f8ff;
    position: absolute;
    top: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
@media screen and (max-width: 1032px) {
    .box{
        height: 800px;
        width: 770px;
    }
    .heading{
        width: 800px;
        font-size: 70px;
        margin-left: 50px;
    }
    .box-1{
        position: absolute;
        width: 830px;
    }
    .box-2{
        position: absolute;
        top:900px;
    }
    .box-3{
        position: absolute;
        top: 1700px;
    }
    .box-4{
        position: absolute;
        top: 2500px;
    }
    .image{
        height: 350px;
        width: 800px;
        position: absolute;
        top:180px;
        left:30px;
    }
    .img{
        height: 350px;
        width: 700px;
    }
    .content{
        width: 700px;
        font-size: 30px;
        position: absolute;
        top: 600px;
        left: 30px;
    }
    .message{
        margin-left: 30px;
    }
    button{
        height: 80px;
        position: absolute;
        top: 3350px;
        left: 300px;
    }
    .head_img{
        flex-direction: column;
    }
    .work_space{
        position: absolute;
        margin-left:70px;
    }
    .box-link{
        color: blue;
        margin-left: 30px;
    }
}